p{
    font-size: 20px;
}

.movie{
    padding : 40px;
    margin : 50px 20px;
    border-style : solid;
    border-color : orange;
    border-width : 3px 6px 3px 6px ;
}

.loader{
    line-height : 500px;
    text-align: center;
    font-size : 50px;
}