p{
    font-size: 20px;
}
.movies{
    margin : 50px 100px; 
    border-style : solid;
    border-color : green;
    border-width : 3px;
    
}
.movie{

    padding : 10px;
    margin : 15px;
    border-style : solid;
    border-color : orange;
    border-width : 10px;
}

.loader{
    line-height : 500px;
    text-align: center;
    font-size : 50px;
}

